@import 'tailwindcss';

@theme {
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
}

body {
  background-color: var(--color-stone-200);
  color: var(--color-stone-600);
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
